{
    "printWidth": 120,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "bracketSameLine": true,
    "arrowParens": "avoid"
}