@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: 29, 31, 38;
	--white:230, 230, 230;
	--green: 2,137,79;
	--red: 193, 0, 0;
	--toastify-text-color-light:  rgb(var(--black)) !important;
	--toastify-color-light: rgb(var(--white)) !important;
}

svg{
	display: inline-block; 
}

body {
	color: rgb(var(--white));
	background: rgb(var(--black));
}

.color-black{
	color: rgb(var(--black)); 
}

.color-green{
	color: rgb(var(--green)); 
}

.color-white{
	color: rgb(var(--white));
}

.bgcolor-black{
	background-color: rgb(var(--black)); 
}

.bgcolor-white{
	background-color: rgb(var(--white)); 
}

.border-color-black{
	border-color: rgb(var(--black)); 
}

.border-color-gray{
	border-color: rgba(var(--black),0.1); 
}

.border-color-white{
	border-color: rgb(var(--white)); 
}


.color-error{
	color: rgb(var(--red)); 
}
.bgcolor-error{
	background-color: rgb(var(--red)); 
}


.Toastify__toast-theme--colored.Toastify__toast--default{
	color: rgb(var(--black)); 
}
.Toastify__close-button{
	display: none;
}


