@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--black: 29, 31, 38;
	--white:230, 230, 230;
	--green: 3,153,88;
}

body {
	color: rgb(var(--white));
	background: rgb(var(--black));
}

.color-black{
	color: rgb(var(--black)); 
}

.color-green{
	color: rgb(var(--green)); 
}

.color-white{
	color: rgb(var(--white));
}

.bgcolor-black{
	background-color: rgb(var(--black)); 
}

.bgcolor-white{
	background-color: rgb(var(--white)); 
}

.border-color-gray{
	border-color: rgba(var(--black),0.1); 
}

.border-color-white{
	border-color: rgb(var(--white)); 
}